physics/thermodynamics/Heat[[:space:]]and[[:space:]]Thermodynamics[[:space:]]--[[:space:]]Zemansky,[[:space:]]M_[[:space:]]W_[[:space:]]--[[:space:]]0a2fd676935f0475260abfa33e25ebf2[[:space:]]--[[:space:]]Anna’s[[:space:]]Archive.pdf filter=lfs diff=lfs merge=lfs -text
math/engineering_maths/Advanced[[:space:]]Engineering[[:space:]]Mathematics[[:space:]]--[[:space:]]Dennis[[:space:]]G_[[:space:]]Zill[[:space:]]--[[:space:]]7,[[:space:]]2020[[:space:]]--[[:space:]]Jones[[:space:]]&[[:space:]]Bartlett[[:space:]]Learning,[[:space:]]LLC[[:space:]]--[[:space:]]9781284206241[[:space:]]--[[:space:]]338d2fdc3a6cfbf80ed90ccac1406e4d[[:space:]]--[[:space:]]Anna’s[[:space:]]Archive.pdf filter=lfs diff=lfs merge=lfs -text
physics/general/Physics[[:space:]]for[[:space:]]Scientist[[:space:]]and[[:space:]]Engineers,[[:space:]]by[[:space:]]Serway[[:space:]]and[[:space:]]Jewett,[[:space:]](10th[[:space:]]Edition).pdf filter=lfs diff=lfs merge=lfs -text
engineering_mechanics/vector_analysis/Statics.and.Dynamics_12th.Ed_Hibbeler.pdf filter=lfs diff=lfs merge=lfs -text
